.Chess{
    padding: 30px;
    border-radius: 10px;
}
.Game{
    background-color: #7f5838;
    padding: 5px;
    border-radius: 5px;
    box-shadow:
        0 0 5px 2px rgba(0, 0, 0, 0.5);
    user-select: none;
}
