.MainGameInfo{
    margin-left:20px;
    padding:0px;
    background-color: #d6d4cc;
    overflow-y: auto;
    overflow-x: hidden;
    flex-direction:column;
    border: solid #96948f;
    border-width: 3px;
    border-radius: 3px;
    box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.2);
    max-height: 675px;

}
.MoveList p{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin:0;
}

p > span:first-child {
    width: 20px;
    text-align: right;
}
p > span:nth-child(2){
    width: 60px;
    text-align: right;
}
p > span:nth-child(3){
    width: 20px;
    text-align: right;
}
p > span:nth-child(4){
    width: 60px;
    text-align: right;
    padding-right: 15px;
}
.DarkMove{
    background-color: rgba(0,0,0,0.15);
}


.MoveText{
    width:250px;
}