.MainGameInfo{
    margin-left:20px;
    padding:0px;
    background-color: #d6d4cc;
    border: solid #96948f;
    border-width: 3px;
    border-radius: 3px;
    box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.2);
    max-height: 675px;
    display:flex;
    flex-direction:column;
    justify-content: space-between;

}
.Moves{
    display:flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
}

.MoveList p{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin:0;
}

p > span:first-child {
    width: 20px;
    text-align: right;
}
p > span:nth-child(2){
    width: 60px;
    text-align: right;
}
p > span:nth-child(3){
    width: 20px;
    text-align: right;
}
p > span:nth-child(4){
    width: 60px;
    text-align: right;
    padding-right: 15px;
}
.DarkMove{
    background-color: rgba(0,0,0,0.15);
}

.MoveText{
    width:250px;
}

.drawRequest{
    background-color:rgb(218, 218, 218);
    border-radius: 5px;
    text-align: center;
}

/*TODO: popup animation doesn't seem to work*/
.popup{
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}

.popup.active{
    opacity: 1;
}