.UserCard{
    flex-shrink: 1;
    background-color: #f0d9b5;
    display:flex;
    width:fit-content;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 10px;
    border: solid #60330e;
    border-width: 3px;
    border-radius: 5px;
    box-shadow: 1px 1px 10px 1px rgba(0,0,0,0.2);
}
.Username{
    display:flex;
    padding-left: 10px;
    padding-right:10px;
}
.ProfilePicture{
    border-radius:5px;
}