.history {
    width: 80%;
    max-width: 75ch;
    margin: 2rem auto;
    color: #1f2222;
    text-align: left;
  }
  
  .history > table {
    border-collapse: collapse;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 8px;
    border-radius: 10px;
  }
  
  .history .header > th {
    text-align: left;
    background-color: #606159;
    padding: 20px;
  }
  
  .history .entry > td {
    text-align: left;
    padding: 20px;
    border-bottom: 1px solid #2C3131;
    background-color: #8e8f87;
  }
  
  .history .entry .player {
    text-align: left;
    padding: 20px;
    padding-right: 150px;
    border-bottom: 1px solid #2C3131;
    background-color: #8e8f87;
  }
  
  