.HomePageDivStyle {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: #312e2b;
  display: flex;
}

.HomePageDivStyle p {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 20px);
  color: white;
  font-size: 24px;
  text-align: center;
}

.HomePageDivStyle img {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 50%;
  object-fit: cover;
  transform: translate(50%, 20%);
  
}