.rules-container {
    max-width: 60%;
    text-align: center;
    margin: 40px;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
}

.BlockCol{
    height:fit-content;
    width:fit-content;
    justify-content: center;
    margin: 50px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.5);
    background-color: #36322f;
    padding: 30px;
    border-radius:10px;
}

.board {
    flex: 1;
    max-width: 50%;
    margin-left: 20px;
    background-color: #7f5838;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.5);
    user-select: none;
    height: fit-content;
}

.piece-table table {
    
    width: 100%;
}

.piece-table th {
    text-align: center;
    background-color: #2b2725;
    color: #e0e0e0;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 50px;
    padding-left: 10px;
    text-align: left;
}

.piece-table tr:not(:last-child) {
    border-bottom: 1px solid #e0e0e0;
}

.piece-table td {
    position: relative;
    background-color: #36322f;
    width: fit-content;
    text-align: center;
    padding: 20px;
    margin: 30px;
}

.piece-table td {
    color: #e0e0e0;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 50px;
    padding-left: 10px;
    text-align: left;
    position: relative;
}